<!DOCTYPE html>
<html lang="en" ng-app="myModule">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>  
    <style>
        table, tr, td, th{
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>
</head>
<body style="font-family: Verdana, Geneva, Tahoma, sans-serif;">
  <div ng-controller="myController">
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Likes</th>
                <th>Dislikes</th>
                <th>Likes/Disliks</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="tech in technologies">
                <td>{{tech.name}}</td>
                <td>{{tech.likes}}</td>
                <td>{{tech.dislikes}}</td>
                <td>
                    <input type="button" value="Like" ng-click="incrementLikes(tech)">
                    <input type="button" value="DisLike" ng-click="incrementDisLikes(tech)">
                </td>
            </tr>
        </tbody>
    </table>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.js"></script>
  <script src="eventHandling.js"></script>
</body>
</html>