body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.cards{
    display: flex;
}
.card{
    font-size:1.5rem;
    border: 4px solid black;
    margin: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.card .footer {
    padding:5px;
    background-color:#f1f1f1;
}